export default const customStyles = {
    control: (provided, state) => ({
      ...provided,
      borderRadius: 8,
      borderColor: state.isFocused ? '#ff5722' : '#ced4da', // Change border color when focused
      boxShadow: state.isFocused ? '0 0 0 0.1rem rgba(255,87,34,.25)' : null, // Add shadow when focused
      '&:hover': {
        borderColor: state.isFocused ? '#ff5722' : '#adb5bd', // Change border color on hover
      },
    }),
    option: (provided, state) => ({
      ...provided,
      backgroundColor: state.isFocused ? '#ff5722' : '#fff', // Change background color when focused
      '&:hover': {
        backgroundColor: '#f8f9fa', // Change background color on hover
      },
    }),
  };